<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Шрифты и шифры</title>
    <link rel="stylesheet" href="stylesBook.css" />
</head>
<body>
<div class="container">
    <header class="header">
        <div class="menu">
            <a href="#">Пользователям</a>
            <a href="#">Меню</a>
            <a href="#">Контакты</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Поиск..." />
            <button>🔍</button>
        </div>
    </header>
    <main class="content">
        <div class="title">Оглавление</div>
        <div class="list">
            <div class="list-item1">Шифр Цезаря</div>
            <div class="list-item">Шифр Вижинера</div>
            <div class="list-item1">Шифр маршрутной перестановки</div>
            <div class="list-item">AES шифры</div>
            <div class="list-item1">Шифр Скитала</div>
            <div class="list-item">ЭСС шифр</div>
            <div class="list-item1">Шифр Вернама</div>
            <div class="list-item">RSA</div>
            <div class="list-item1">Хеширование. Алгоритм SHA-256.</div>
            <div class="list-item">Энигма</div>
            <div class="list-item1">Магический квадрат</div>
        </div>
    </main>
</div>
</body>
</html>