<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Криптография</title>
    <link rel="stylesheet" th:href="@{/css/stylesBook.css}" />
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="menu">
                <a href="#">Пользователям</a>
                <a href="#">Меню</a>
                <a href="#">Контакты</a>
            </div>

        </header>
        <div class="title">Оглавление</div>
        <main class="content">

            <div class="list">
                <div class="list-item1"> <a href="/theory?level=1" class="level-link">
                        Lvl 1. Шифр Цезаря</a> </div>

                <div class="list-item"> <a href="/theory?level=2" class="level-link">Lvl 2. Шифр Цезаря, продолжение
                    </a></div>
                <div class="list-item1"> <a href="/theory?level=3" class="level-link">Lvl 3. Афинный шифр </a></div>
                <div class="list-item"> <a href="/theory?level=4" class="level-link">Lvl 4. Шифр Виженера </a></div>
                <div class="list-item1"> <a href="/theory?level=5" class="level-link">Lvl 5. Взлом шифра Виженера</a>
                </div>
                <div class="list-item"> <a href="/theory?level=6" class="level-link">Lvl 6. Шифр Вернама </a></div>
                <div class="list-item1"> <a href="/theory?level=7" class="level-link">Lvl 7. Шифр Плейфера</a> </div>
                <div class="list-item"> <a href="/theory?level=8" class="level-link">Lvl 8. Протокол Диффи –
                        Хеллмана</a></div>
                <div class="list-item1"> <a href="/theory?level=9" class="level-link">Lvl 9. Хэширование</a></div>
                <div class="list-item"> <a href="/theory?level=10" class="level-link">Lvl 10. DES (Data Encryption
                        Standard)</a></div>
                <div class="list-item1"> <a href="/theory?level=11" class="level-link">Lvl 11 </a></div>
                <div class="list-item"> <a href="/theory?level=12" class="level-link">Lvl 12. AES (Advanced Encryption
                        Standard)</a></div>
            </div>

            <div class="list-item1">Словарь терминов </div>
        </main>
    </div>
</body>

</html>